*.o
*.so
*.out
stdout.txt
stderr.txt
stdout_ori.txt
stderr_ori.txt
*.o
stdout*
stderr*
before_push.sh
*.txt
*makelog*
run_gpufpx.sh
run_plain.sh
run_count.sh
run_total_count.sh
run_binfpe.sh
fpxbench/gpufpx-exps/gpu-rodinia/data
cuda-samples/Samples/**
cuda-samples/bin/**
fpxbench/gpufpx-exps/parboil/datasets/**
